@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 15px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    color: #000;
    font-size: 24px;
    transition: 0.3s color;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.navbar-brand span {
    display: block;
    position: absolute;
    top: 78%;
    font-size: 28px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #04c755;
    font-family: "Lilita One", sans-serif;  
}

.navbar button {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url("../images/school-entry-point.jpeg") no-repeat center;
    background-position: center 50px;
    background-size: cover;
    width: 100%;
}

.hero-section:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

.card_icon_img {
    width: 65%;
}

#features {
    background-color: #F5F5F5;
}

@media (max-width: 481px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    #teachers .card {
        max-width: 80%;
        margin: auto;
    }
}


#about_classes {
    background-color: #111;
}
.class_card {
    position: relative;
}
#about_classes img {
    border-radius: 15px;
}
@media (max-width: 991px) {
    .class_card_text {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 97%;
        padding: 15px 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.6);
        transform: translate(-50%, -50%);
    }
}



.course_hero {
    height: 30vh;
    width: 100%;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about_courses {
    background-color: #151A22;
}

#about_courses .card {
    background-color: #1A2029;
    color: #fff;
}